.a{
	height: 300px;
	width: 250px;
	background-color: lightpink;
	text-align: center;
	float: left;
}
.b{
	height: 300px;
	width: 250px;
	background-color: lightblue;
	position: relative;
	text-align: center;
	float: left;
	top: 30px;
	bottom: 20px;
	left: 20px;
}
.c{
	height: 300px;
	width: 250px;
	background-color: palevioletred;
	text-align: center;
	float: left;
}
.d{
	height: 300px;
	width: 250px;
	background-color: lightgreen;
	text-align: center;
	float: left;
	position: fixed;
	left: 900px;
}